body{
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
body .click {
    border-radius: 5px;
    font-family: cursive;
    margin-bottom: 5px;
  
    
}
.click:hover{
   background-color: rgb(35, 136, 136);
   transition: 1s;
}
